.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5.7rem;
  width: 100%;

  transition: opacity 0.3s;

  @media (min-width: $stop-scaling) {
    padding: 0 57px;
  }

  @media (orientation: portrait) {
    padding: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0;
  }
}

.chat__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5.9rem 0;
  width: 100%;
  max-height: calc(100vh - 33.9rem);
  max-width: 79.8rem;
  overflow-y: auto;

  @media (min-width: $stop-scaling) {
    padding: 0 59px 0;
    max-height: calc(100vh - 339px);
    max-width: 798px;
  }

  @media (orientation: portrait) {
    padding: 0 0 0;
    max-height: calc(var(--vh, 1vh) * 100 - 22.4rem);
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    max-height: calc(var(--vh, 1vh) * 100 - 25rem);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0;
    max-height: calc(var(--vh, 1vh) * 100 - 16rem);
  }
}

.chat__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.chat__message {
  flex: none;
  display: flex;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    font-size: 1.6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 1.6rem;
  }

  p {
    margin: 0;
    padding: 1.6rem 5.7rem;
    min-width: 17rem;
    border-radius: 4rem;

    @media (min-width: $stop-scaling) {
      padding: 16px 57px;
      min-width: 170px;
      border-radius: 40px;
    }

    @media (orientation: portrait) {
      padding: 1rem 2.5rem;
      min-width: 10rem;
      max-width: calc(100% - 5rem);
      border-radius: 2rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      padding: 1rem 2.5rem;
      min-width: 10rem;
      max-width: calc(100% - 5rem);
      border-radius: 2rem;
    }
  }

  &--outcoming {
    justify-content: flex-start;

    p {
      width: 100%;
      color: $c-dark;
      background-color: $c-light;
      word-break: break-word;
    }
  }

  &--incoming {
    justify-content: flex-end;
    text-align: center;

    p {
      color: $c-light;
      background-color: $c-purple;
      word-break: break-word;
    }
  }
}

.chat__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 6rem;
  background-color: $c-purple;
  border-radius: 3rem;

  @media (min-width: $stop-scaling) {
    width: 170px;
    height: 60px;
    border-radius: 30px;
  }

  @media (orientation: portrait) {
    width: 10rem;
    height: 4rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 10rem;
    height: 4rem;
  }

  span {
    margin: 0 0.65rem;
    width: 1rem;
    height: 1rem;
    background-color: $c-light;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @media (min-width: $stop-scaling) {
      margin: 0 6.5px;
    }

    @media (orientation: portrait) {
      margin: 0 0.5rem;
      width: 0.6rem;
      height: 0.6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 0.5rem;
      width: 0.6rem;
      height: 0.6rem;
    }
  }

  span:nth-child(1) {
    animation-delay: 0ms;
  }

  span:nth-child(2) {
    animation-delay: 250ms;
  }

  span:nth-child(3) {
    animation-delay: 500ms;
  }

  @keyframes blinking {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  &--hidden {
    opacity: 0;
  }
}

.chat__footer {
  margin-top: auto;

  transition: transform 0.3s;
}

.show-result {
  .chat {
    opacity: 0;
  }
  .chat__footer {
    transform: translateY(8rem);
  }
}

.chat {
  --input-right: 21rem;
  --input-right-stop-scaling: 210px;

  .form__button {
    animation-name: rules-button-text-fade-in;
    animation-delay: 400ms;
    animation-duration: 266ms;
    animation-fill-mode: both;

    &::before {
      animation-name: fade-in;
      animation-delay: 250ms;
      animation-duration: 166ms;
      animation-fill-mode: both;
    }
  }

  .form__field {
    opacity: 0;
    animation-name: field-result-fade-in-left;
    animation-delay: 400ms;
    animation-duration: 533ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    @media (min-width: $stop-scaling) {
      animation-name: field-result-fade-in-left-stop-scaling;
    }

    @media (orientation: portrait) {
      animation-name: field-result-fade-in-left-mobile;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      animation-name: field-result-fade-in-left-tablet;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      animation-name: field-result-fade-in-left-mobile;
    }
  }

  ::-webkit-input-placeholder {
    opacity: 0.5;
  }

  ::-moz-placeholder {
    opacity: 0.5;
  }
}
