@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes color-to-light {
  0% {
    color: $c-transparent;
  }
  100% {
    color: $c-light;
  }
}

@keyframes color-to-dark {
  0% {
    color: $c-transparent;
  }
  100% {
    color: $c-dark;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
