.prizes {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 14.6rem 0 7.7rem;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: transform;
    background-color: $c-dark;
    z-index: 2;
    pointer-events: none;
  }

  @media (min-width: $stop-scaling) {
    padding: 146px 0 65px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 9rem 0 6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 5rem 0 1.5rem;
  }
}

.prizes__title {
  margin: 0 0 6rem;
  text-transform: uppercase;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@keyframes prizes-lead-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1em * 1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.prizes__lead {
  margin-left: 5.8rem;
  margin-bottom: -5.6rem;
  max-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  animation: prizes-lead-fade-in-up;
  animation-duration: 500ms;
  animation-delay: 733ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;

  @media (min-width: $stop-scaling) {
    margin-left: 58px;
    margin-bottom: -56px;
    max-width: 340px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-left: 2.5rem;
    margin-bottom: 3.2rem;
    max-width: 22rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 2rem;
    font-size: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 20rem;
    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.prizes__list {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: auto;

  @media (orientation: landscape) {
    margin-left: 26%;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-left: 0;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto 0;
    padding-left: 2rem;
  }
}

.prizes__item {
  @media (min-width: $stop-scaling) {
    margin-left: 75px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    margin-bottom: 2.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 5rem;
  }

  &--journeys {
    .prizes__icon {
      position: relative;
      left: -7rem;
      width: 30rem;

      @media (min-width: $stop-scaling) {
        left: -59px;
        bottom: -14px;
        width: 268px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        left: 0;
        bottom: 0;
        width: 9.4rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        left: -3rem;
        width: 14rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 10rem;
        left: -2.5rem;
      }
    }
  }

  &--cases {
    visibility: hidden;
    margin-left: 3rem;

    @media (min-width: $stop-scaling) {
      margin-left: 70px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
      padding-left: 1.5rem;
    }

    .prizes__icon {
      width: 30rem;
      position: relative;
      left: -13rem;

      @media (min-width: $stop-scaling) {
        left: -110px;
        bottom: -14px;
        width: 268px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        margin-right: 1.3rem;
        width: 10.211rem;
        left: auto;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        width: 14rem;
        left: -6rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 10rem;
        left: -4.5rem;
      }
    }
  }

  &--codes {
    visibility: hidden;

    b {
      display: flex;
      justify-content: end;
    }

    @media (min-width: $stop-scaling) {
      margin-left: 50px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      padding-left: 0.8rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-left: 3rem;
    }

    .prizes__icon {
      width: 30rem;
      position: relative;
      left: -5rem;

      @media (min-width: $stop-scaling) {
        left: -35px;
        bottom: -14px;
        width: 268px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        width: 8.66rem;
        left: auto;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        width: 14rem;
        left: -2rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 10rem;
        left: -1.5rem;
      }
    }
  }
}

.prizes__icon {
  @media (max-width: $tablet) and (orientation: portrait) {
    margin-right: 3.8rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.prizes__desc {
  display: flex;
  align-items: center;
  margin: 5.6rem 0 0 0;
  font-size: 1.8rem;
  line-height: 1.1;

  @media (min-width: $stop-scaling) {
    margin-top: 56px;
    font-size: 18px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: -0.5rem;
    margin-left: 0;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-top: 3rem;
    font-size: 1.1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 0.8rem;
  }

  b {
    min-height: 6.6rem;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 12rem;
    line-height: 0.55;

    @media (min-width: $stop-scaling) {
      min-height: 66px;
      font-size: 120px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      font-size: 4.8rem;
      line-height: 0.6;
      min-height: 3.6rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      font-size: 6rem;
      min-height: 3.6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      font-size: 3.5rem;
      min-height: 2rem;
    }
  }

  span {
    display: flex;
    align-items: flex-end;
    margin-left: 1.4rem;
    max-width: 14rem;

    @media (min-width: $stop-scaling) {
      margin-left: 14px;
      max-width: 140px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
      max-width: 11rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-left: 1rem;
      max-width: 13rem;
    }
  }

  svg {
    flex: none;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    width: 1rem;
    height: 1rem;

    @media (min-width: $stop-scaling) {
      margin-left: 10px;
      margin-bottom: 3px;
      width: 10px;
      height: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

.prizes__icon {
  & > svg {
    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }
  }

  &-mobil img {
    @media (min-width: ($tablet + 1)) and (orientation: portrait) {
      display: none;
    }
    @media (orientation: landscape) {
      display: none;
    }
  }
}

.active-count {
  .prizes__item--journeys {
    b {
      opacity: 0;
      transition: opacity 66ms linear 2933ms;
    }

    span {
      opacity: 0;
      transition: opacity 433ms linear 3000ms;
    }
  }

  .prizes__item--cases {
    span {
      opacity: 0;
      transition: opacity 433ms linear 5500ms;
    }
  }

  .prizes__item--codes {
    span {
      opacity: 0;
      transition: opacity 433ms linear 7666ms;
    }
  }

  @media (orientation: landscape) {
    .prizes__item--journeys {
      transform: translateX(140%);
      transition: transform 766ms linear 3833ms;

      b {
        opacity: 0;
        transition: opacity 66ms linear 2933ms;
      }

      span {
        opacity: 0;
        transform: translateX(3rem);
        transition: opacity 433ms linear 3000ms, transform 433ms linear 3000ms;
      }
    }

    .prizes__item--cases {
      span {
        opacity: 0;
        transform: translateX(3rem);
        transition: opacity 433ms linear 5500ms, transform 433ms linear 5500ms;
      }
    }

    .prizes__item--codes {
      span {
        opacity: 0;
        transform: translateX(3rem);
        transition: opacity 433ms linear 7666ms, transform 433ms linear 7666ms;
      }
    }
  }
}

.active {
  .prizes__item--journeys {
    transform: translateX(0);

    b {
      opacity: 1;
    }

    span {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .prizes__item--cases {
    span {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .prizes__item--codes {
    span {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
